  
<h2> Trip <%= @trip.id %></h2>
<p> Driver ID: <%= @trip.driver_id  %></p>
<p> Passenger ID: <%= @trip.passenger_id  %></p>
<p> Date of Trip: <%= @trip.date  %></p>

<% if @trip.rating%>
  <p>Rating: <%= @trip.rating %></p>
<%else%>
  <section class = 'form'>
    <%= form_with model: @trip, class: 'trip-form' do |f| %> 

    <section>
      <%= f.label :rating %>
      <%= f.select :rating, [[nil,nil],[1,1],[2,2],[3,3],[4,4],[5,5],] %>
    </section>

    <%= f.submit "Save Rating", class: "button" %>
    <% end %>
  </section>
<%end%>


<p> Trip Cost: <%= @trip.cost  %></p>

<div>
  <p> Passenger Details: <a <%= link_to @passenger.name, passenger_path(@passenger) %></a></p>
  
  <p> Driver Details: <a <%= link_to @driver.name, driver_path(@driver) %></a></p>


  <p><a href="<%= edit_trip_path %>">Edit this trip</a></p>
    <p><a <%= link_to 'Delete Trip', trip_path(@trip), method: :delete, data: { confirm: 'Are you sure?' } %></a></p>
</div>