<h2>Edit Passenger</h2>

<% if @passenger.errors.any? %>
  <p>
    Oops! Something went wrong with your edit:
  </p>
  <ul>
    <% @passenger.errors.each do |column, message| %>
      <li>
        <strong><%= column.capitalize %></strong> field <%= message %>
      </li>
    <% end %>
  </ul>
<% end %>

<%= form_with model: @passenger do |f| %>

  <%= f.label :name %>
  <%= f.text_field :name %>

  <%= f.label :phone_num %>
  <%= f.text_field :phone_num %>

  <%= f.submit "Edit passenger"%>
<% end %>