<h2>Edit a passenger here</h2>

<%=  form_with model: @passenger do |f| %>
  <p>Fill in the following fields:</p>
    <div>
      <%= f.label :name %>
      <%= f.text_field :name %>
    </div>
    <div>
      <%= f.label :phone_num %>
      <%= f.text_area :phone_num %>
    </div>
    <%= f.submit "Save changes" %>
<% end %> 

<>