<h2>Create New Passenger</h2>

<% if @passenger.errors.any? %>
  <p>Oops! Something went wrong with adding a new passenger:</p>
  <ul>
    <% @passenger.errors.each do |column, message| %>
      <li>
        <strong><%= column.capitalize %></strong> field <%= message %>
      </li>
    <% end %>
  </ul>
  <p>Please try again: </p>
<% end %>

<%= form_with model: @passenger do |f| %>

  <%= f.label :name %>
  <%= f.text_field :name %>

  <%= f.label :phone_num %>
  <%= f.text_field :phone_num %>

  <%= f.submit "Add passenger"%>
<% end %>