  
<h2><%= @passenger.name %></h2>
<p>Phone : <%= @passenger.phone  %></p>

<%# <p>Passenger Total Expenditures: $<%= @passenger.trips_sum.to_f %></p> %>
<%# ^I'm not sure why this isn't working. Any thoughts?  %>


<%= link_to "Trips", passenger_trips_path(@passenger.id)%>

<%= link_to 'Add a trip', {:controller => "trips", :action => "create", :passenger_id => @passenger.id} , :method=>:post  %>

<%= link_to "Edit ", edit_passenger_path(@passenger.id) %>

<%= link_to "Delete ", passenger_path(@passenger.id), method: :delete %>