<h2>List of Drivers</h2>
<nav>
  <p><%= link_to "Return to Homepage", root_path %> / </p> 
</nav>

<%= button_to "Add Driver", new_driver_path %>

<ul>
  <% @drivers.each do |driver|  %>
    <li>
      <h6><%= driver.id %>  <%= link_to driver.name, driver_path(driver) %></h6>
      <p><%= driver.vin %>  | <%= driver.available == "true" ? "Available" : "Unavailable" %></p>
    </li>
  <% end %>
</ul>