<h2>Create New Driver</h2>

<% if @driver.errors.any? %>
  <p>Oops! Something went wrong with adding a new driver:</p>
  <ul>
    <% @driver.errors.each do |column, message| %>
      <li>
        <strong><%= column.capitalize %></strong> field <%= message %>
      </li>
    <% end %>
  </ul>
  <p>Please try again: </p>
<% end %>

<%= form_with model: @driver do |f| %>

  <%= f.label :name %>
  <%= f.text_field :name %>

  <%= f.label :vin %>
  <%= f.text_field :vin %>

  <%= f.submit "Add Driver"%>
<% end %>