<!DOCTYPE html>
<html>
  <head>
    <title>YesLex Rideshare Program</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  
    <nav class="navbar">
      <ul>
        <li><a href="/">Home</a></li>

        <li><%= link_to "Passengers List", passengers_path %></li>
        <li><a href="<%= new_passenger_path %>">Create a new passenger</a></li>

        <li><%= link_to "Drivers List", drivers_path %></li>
        <li><a href="<%= new_driver_path %>">Create a new driver</a></li>

        <li><%= link_to "Trip History", trips_path %></li>
      </ul>
    </nav>

    <header class="header">
      <h1>- The YesLex RideShare App -</h1>
      <h4><em>Getting you where you need to go since '20.</em></h4>
    </header>

    <main>
      <section class="image">
        <img src="/assets/car.jpg" alt="view of scenic drive from car side mirror">
      </section>
        
    </main>

    <footer class="footer">
      <p><em>All Rights Reserved / Photo by <a href= "https://unsplash.com/@jeshoots" target="_blank">@jeshoots</a></em></p>
    </footer>
  </body>
</html>