<!DOCTYPE html>
<html>
  <head>
    <title>YesLex RideShare</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar">
      <ul>
        <li><%= link_to "Home", root_path %></li>
        <li><%= link_to "Passengers List", passengers_path %></li>
        <li><%= link_to "Create New Passenger", new_passenger_path %></li>
        <li><%= link_to "Drivers List", drivers_path %></li>
        <li><%= link_to "Create New Driver", new_driver_path %></li>
      </ul>
    </nav>
    <%= yield %>
  </body>
</html>
